@font-face {
	font-family: 'Aspira';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/AspiraXWide-Regular.ttf) format('woff2');
}

@font-face {
	font-family: 'Aspira Bold';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/AspiraXWide-Bold.ttf) format('woff2');
}

/***********************ESTILOS GENERALES*******************/

*{
	font-family: "Aspira" !important;
	text-shadow: none !important;
}

img{
	max-width: 100% !important;
}

.ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper {
	background-color: rgb(177,34,40) !important;
}

/***********************MENU IZQUIERDO***********************/

	#menuizq{
		border: black solid 1px;
	}
		
	#menuizq .ui-panel-inner{
		padding: 0px;
	}

	#menuizq .listview {
		margin: 0px;
		padding: 0px;
	}

	#menuizq .listview > li{
		border-top: solid 2px white;
		border-bottom: solid 2px white;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		list-style: none;
		margin: 10px 0px 0px;
	}

	#menuizq a{
		color: white;
		text-decoration: none;
	}
	

/******************************USUARIO***********************/

	.ui-icon-usuario:after{
		background-image: url(../img/icono-usuario.png);
		background-size: 16px 16px;
	}
	.ui-icon-mapa:after{
		background-image: url(../img/icono-mapa.png);
		background-size: 16px 16px;
	}
	.ui-icon-contactos:after{
		background-image: url(../img/icono-contactos.png);
		background-size: 16px 16px;
	}
	.ui-icon-lapiz:after{
		background-image: url(../img/icono-lapiz.png);
		background-size: 16px 16px;
	}
	.ui-icon-barras:after{
		background-image: url(../img/icono-barras.png);
		background-size: 16px 16px;
	}

	.ui-nodisc-icon.ui-btn::after, .ui-nodisc-icon .ui-btn::after {
		background-color: rgb(177,34,40) !important;
	}

	#usuario .ui-content > a {
		margin: 0px;
		border: none;
		border-top: 1px solid white;
		color: white;
		font-size: 1.5em;
		background-color: transparent;
	}

	#usuario .ui-content > a:first-child{
		border-top: none;
	}

	#usuario .ui-content {
		padding: 20px;
	}

	#usuario .ui-content > a:hover,
	#usuario .ui-content > a:focus,
	#usuario .ui-content > a:active{
		margin-left: -20px;
		margin-right: -20px;
		color: rgb(177,34,40) !important;
		background-color: white !important;
	}

	#usuario .ui-content > a:hover::after,
	#usuario .ui-content > a:focus::after,
	#usuario .ui-content > a:active::after{
		margin-left: 20px;
	}

/****************************HOME***************************/

	.home-secs{
		margin: 0px -16px 0px;
		padding: 20px;
	}

	.home-sec-1{
		background-color: gray;
	}

	.home-sec-2{
		background-color: rgb(197,40,47);
	}

	#home .ui-listview > .ui-li-static {
		background-color: transparent;
		border: none;
	}

	.separador{
		padding: 5px;
		background-image: linear-gradient(left,rgb(136,107,41),rgb(243,206,126)) !important;
		background-image: -webkit-linear-gradient(left,rgb(136,107,41),rgb(243,206,126)) !important;
		background-image: -moz-linear-gradient(left,rgb(136,107,41),rgb(243,206,126)) !important;
	}

	#home .ui-content{
		padding-bottom: 0px;
	}

/******************************LOADER***********************/

	#loader {
		text-align: center;
		color: black;
	    position: absolute;
	    width: 100% !important;
	    height: 100% !important;
	    z-index: 9999999;
	    display: flex;
	    background-color: white;
	    justify-content: center;
	    align-items: center;
	}

	#loader h1{
		width: 90%;
	}

	#barra{
		width: 100%;
		height: 20px;
		background-color: #f5f5f5;
		border-radius: 15px;
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
		box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
	}

	#llenado{
		float: left;
		background-color: #d9534f;
		border-radius: 15px;
		height: 100%;
		-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
		box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
		-webkit-transition: width 1s ease;
		-o-transition: width 1s ease;
		transition: width 1s ease;
		background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
		background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
		background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
		-webkit-background-size: 40px 40px;
		background-size: 40px 40px;
	}

/***********************BOTONES GENERALES DE MENU***********/

	.ui-btn.ui-corner-all.menu{
		border-radius: 20px;
		margin: 20px 30px;
		font-size: 1.3em;
		color: rgb(253,217,140);
		font-family: "Aspira Bold" !important;
	}

	.ui-page-theme-b .ui-btn.menu:focus{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background-image: linear-gradient(left,rgb(136,107,41),rgb(243,206,126));
		background-image: -webkit-linear-gradient(left,rgb(136,107,41),rgb(243,206,126));
		background-image: -moz-linear-gradient(left,rgb(136,107,41),rgb(243,206,126));
		color: black;
		border-color: transparent;
	}

	.ui-page-theme-b .ui-btn.menu:active{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background-image: linear-gradient(left,rgb(136,107,41),rgb(243,206,126)) !important;
		background-image: -webkit-linear-gradient(left,rgb(136,107,41),rgb(243,206,126)) !important;
		background-image: -moz-linear-gradient(left,rgb(136,107,41),rgb(243,206,126)) !important;
		color: black;
		border-color: transparent;
	}

	.ui-page-theme-b .menu.ui-btn.ui-btn-active{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background-image: linear-gradient(left,rgb(136,107,41),rgb(243,206,126)) !important;
		background-image: -webkit-linear-gradient(left,rgb(136,107,41),rgb(243,206,126)) !important;
		background-image: -moz-linear-gradient(left,rgb(136,107,41),rgb(243,206,126)) !important;
		color: black;
		border-color: transparent;
	}

/**/


.barra-blanca{
	color: white;
	margin: 20px 40px;
}

.ui-btn-icon-notext.ui-btn-left {
    top: 1em;
    left: 1em;
}

.ui-btn-icon-notext.ui-btn-right {
    top: 1em;
    right: 1em;
}

.ui-listview > li {
	color: white;
	background-color: rgb(177,34,40);
	padding: 30px;
}

.ui-input-text, .ui-input-search, .ui-select .ui-btn {
	color: black !important;
    border-radius: 50px;
    background-color: white !important;
    border: 2px solid #e3bd69 !important;
 }

 .ui-input-text input{
 	color: black !important; 
 	text-shadow: none;
 	text-align: center !important;
 }

 #entrar.ui-page-theme-b, #registro.ui-page-theme-b {
 	background-color: #2d2d2d !important;
 }

 #registro, #entrar{
 	color: #ddb762;
 }

 #home.ui-page-theme-b{
 	background-color: #fff !important;
 }

 #registro label, #entrar label{
	font-style: italic;
 }

 .ui-checkbox, .ui-checkbox label{
 	background-color: transparent !important; 
 	border-color: transparent !important; 
 	text-align: justify !important; 
 }

 #boton-registro{
 	border-radius: 50px;
 	background-image: linear-gradient(left,rgb(136,107,41),rgb(243,206,126)) !important;
	background-image: -webkit-linear-gradient(left,rgb(136,107,41),rgb(243,206,126)) !important;
	background-image: -moz-linear-gradient(left,rgb(136,107,41),rgb(243,206,126)) !important;
	border-color: transparent;
	color: white;
 }


.sepCont {
    height: 4.5em;
    background: #2d2d2d;
    margin: 20px -20px;
}

.sepCont .max{
	margin: auto;
	display: table;
	width: 100%;
}

.contador {
    position: relative;
    z-index: 9;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 !important;
    transform: none !important;
}

.contador .grupo {
	background: #2d2d2d;
	border-radius: 20px;
    display: inline-block;
    width: 2.8em;
    text-align: center;
    color: #fad688;
    font-size: 2em;
    text-align: center;
}

.contador .grupo span {
    display: block;
    font-size: 1.7em;
    font-weight: 800;
    letter-spacing: -0.1em;
    background: -webkit-linear-gradient(#fcd88a, #6f5416);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grueso label, .grueso span, .grueso button, .grueso a{
	font-family: "Aspira Bold" !important;
}

.ui-icon-myicon:after {
    background-image: url("../img/bell.png");
    background-size: 18px 18px;
}