<?xml version = "1.0" encoding = "UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.jeanpaul.lalexpo" version = "1.0.0">
<name>lalExpo</name>
<description>
Aplicacion Base para LALEXPO
</description>
<author href = "http://ingjprojas.zz.com.ve" email = "ingjeanpaulrojas@gmail.com">
Jean Paul Rojas
</author>
<feature name = "http://api.phonegap.com/1.0/device"/>
<preference name = "orientation" value = "portrait"/>
<preference name = "target-device" value = "universal"/>
<preference name = "fullscreen" value = "false"/>
<icon src = "img/favicon.png"/>
</widget>